<div class="container-fluid" style="background-color:#F5CAC3 ;">
  <div class="row pt-4">
    <div class="col-sm-6 mb-0 mb-md-0 ">
      <div class="container-fluid justify-content-left">

        <div class="conteudo cor text-justify ">
          <a routerLink='paginaInicial' class="icoInstagram" alt='Logo Natureba'>
            <img src=" https://i.imgur.com/iGKLTq9.jpg" width="100" height="110" alt="logotipo">
          </a>

          <p class="pl-4 altera-fontes">A Natureba tem como objetivo ser uma referência de plataforma no ramo da
            sustentabilidade conectando pequenos e médios produtores a você. Visamos não apenas à beleza e a natureza,
            mas a sua segurança em consumir produtos ecológicos. Quando você se cuida conosco, você também cuida do
            mundo.</p>
        </div>
      </div>
    </div>
    <div class="col-sm-6 ">

      <nav class="navbar navbar-expand-lg font-weight-bold navbar-light m-0" style="background-color: #F5CAC3">

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#conteudoNavbarSuportado"
          aria-controls="conteudoNavbarSuportado" aria-expanded="false" aria-label="Alterna navegação">
          <span class="navbar-toggler-icon"></span>
        </button>

        <div class=" collapse navbar-collapse " id="conteudoNavbarSuportado">
          <ul class="navbar-nav cor altera-menu posicao ">


            <div class="col-sm-2 mr-2">
              <h4 class="title mb-2 mt-0 font-weight-bold">Conta</h4>
              <ul class="list-unstyled text-nowrap ">
                <li>
                  <a class="cor" routerLink='comoFunciona'>Minha conta</a>
                </li>
                <li>
                  <a class="cor" routerLink='nossoTime'>Meus favoritos</a>
                </li>
              </ul>
            </div>


            <div class="col-sm-3">
              <h4 class="title mb-2 mt-0 font-weight-bold">Institucional</h4>
              <ul class="list-unstyled text-nowrap ">
                <li>
                  <a class="cor" routerLink='comoFunciona'>Como funciona?</a>
                </li>
                <li>
                  <a class="cor" routerLink='nossoTime'>Nossa equipe</a>
                </li>
              </ul>
            </div>


            <div class="col-sm-2">
              <h4 class="title mb-2 mt-0 font-weight-bold">Ajuda</h4>
              <ul class="list-unstyled text-nowrap ">
                <li>
                  <a class="cor" routerLink='comoFunciona'>Contato</a>
                </li>

              </ul>
            </div>

            <div class="col-sm-3">
              <h4 class="title mb-2 mt-0 font-weight-bold text-nowrap">Nos encontre</h4>
              <ul class="list-unstyled text-nowrap ">
                <a href="https://www.facebook.com/" target="_blank" class="icoFacebook" alt='Caminho para facebook'>
                  <img class="fa" src="https://i.imgur.com/t3zXvGm.png" width="28px" height="28px">
                </a>

                <a href="https://www.instagram.com/" target="_blank" class="icoInstagram" alt='Caminho para instagram'>
                  <img class="fa" src="https://i.imgur.com/NWQCLXM.png" width="28px" height="28px">
                </a>

                <a href="https://www.twitter.com/" target="_blank" class="icoTwitter" alt='Caminho para twitter'>
                  <img class="fa" src="https://i.imgur.com/RJIYr9E.png" width="28px" height="28px">
                </a>
              </ul>
            </div>

          </ul>
          

        </div>

      </nav>


    </div>
  </div>


</div>