<body>

  <div class='container'>


    <div class="card">
      <div class="row">

        <div class="col-sm-9">
          <h1>{{produto.nomeProduto}}</h1>



        </div>

        <div class="col-sm-3 d-flex justify-content-end text-nowrap">

          <h1>R$ {{ produto.preco}}</h1>

        </div>

      </div>

      <div class="row pt-3">

        <div class="col-sm d-flex justify-content-center">

          <div data-interval="false" id="carouselExampleFade" class="carousel carousel-fade img-fluid"
            data-ride="carousel">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img class="d-block w-100" src="{{produto.fotoProduto1}}" alt="Primeiro Slide">
              </div>
              <div class="carousel-item ">
                <img class="d-block w-100 img-fluid"
                  src="{{produto.fotoProduto2}}" alt="Segundo Slide">
              </div>
              <div class="carousel-item">
                <img class="d-block w-100 img-fluid"
                  src="{{produto.fotoProduto3}}"
                  alt="Terceiro Slide">
              </div>

              <div class="carousel-item ">
                <iframe class="embed-responsive embed-responsive-16by9" width="500" height="500"
                  src="{{produto.videoProduto}}" title="YouTube video player" frameborder="0"
                  allow="accelerometer; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                  allowfullscreen></iframe>
              </div>

              
            </div>
            <a class="carousel-control-prev" href="#carouselExampleFade" role="button" data-slide="prev">
              <span class="carousel-control-prev-icon"style=" background-color: #F28482" aria-hidden="true"></span>
              <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleFade" role="button" data-slide="next">
              <span class="carousel-control-next-icon"style=" background-color: #F28482" aria-hidden="true"></span>
              <span class="sr-only">Próximo</span>
            </a>
          </div>

        </div>

        <div class="col-sm-12 row d-flex justify-content-around pt-5">

          <div class="d-flex justify-content-end">

            <div class="col-sm-4 d-flex justify-content-center">
              <button (click)='favoritar()' type="button" class="button2" data-toggle="modal" data-target="#ExemploModalCentralizado">
                Favoritar
              </button>
            </div>

            <div class="col-sm-4 d-flex justify-content-center">
              <button type="button" class="button2" data-toggle="modal" data-target="#ExemploModalCentralizado">
                Ver loja
              </button>
            </div>

            <div class="">
              <!--Botão PopUp-->
              <button (click)='comprar()' type="button" class="btn btn-primary btncomprar" data-toggle="modal"
                data-target="#ModalLongoExemplo5">
                Comprar
              </button>
            </div>
          </div>
          <!--/Botão PopUp-->

          <div class="modal fade " id="ModalLongoExemplo5" tabindex="-1" role="dialog"
            aria-labelledby="TituloModalLongoExemplo" aria-hidden="true">
            <div class="modal-dialog " role="document">
              <div>
                <!-- /Botão para acionar pop up de produto-->
                <!--card Pop-Up-->
                <div class="pt-0 estiloDoPopUp containerPopUp">
                  <div class="pt-0">
                    <h1 class="text1">Venda confirmada!</h1>
                    <h2 class="text2">Combine com o vendedor a sua entrega!</h2>

                    <!--facebook-->
                    <div>
                      <img class="ico-contato " src="https://i.imgur.com/t3zXvGm.png" alt="Icone Facebook">
                      <a class="textIco" href="https://www.facebook.com/"
                        target="_blank">{{produto.usuario.nomeUsuario}}</a>
                    </div>
                    <!--/facebook-->

                    <!--telefone-->
                    <div>
                      <img class="ico-contato" src="https://i.imgur.com/RVVuzZa.png" alt="Icone Telefone">
                      <a class="textIco"
                        href="https://api.whatsapp.com/send?phone=5511910616756&text=Olá, gostaria de conhecer um pouco mais!"
                        target="_blank">{{produto.usuario.telefone}}</a>
                    </div>
                    <!--/telefone-->

                    <!--e-mail-->
                    <div>
                      <img class="ico-contato" src="https://i.imgur.com/JrO4uoS.png" alt="Icone E-mail">
                      <a class="textIco" href="https://www.google.com" target="_blank">produto.usuario.emailUsuario</a>
                    </div>
                    <!--/e-mail-->

                    <div class=" col-sm-12 d-flex justify-content-center">
                      <button type="button" class="btn btn-secondary button2" data-dismiss="modal">Retornar</button>

                    </div>
                  </div>

                </div>

              </div>
            </div>
          </div>

          <!--/card Pop-Up-->

        </div>
        <div class="container-fluid">
          <div class="row">
            <div class="col">
              <div class="text-justify pt-5">

                <p>{{produto.descricao}}</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>