<!--cards nosso time-->
<div class="container-fluid" style="background-color:#F7EDE2;">
    <div class="row p-5 ">
        <div class="col-sm-6">
            <div class="card borda">


                <!--Nome do Integrante-->
                <h5 class="nomeIntegrante pt-5">Vitor Carvalho</h5>
                <!--/Nome do Integrante-->

                <!--Imagem 3d dos integrantes-->
                <div class="flip-container img-fluid">
                    <div class="flipper imgpos">
                        <div class="front imagem">
                            <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/wtK8H1S.jpg"
                                alt="Imagem do integrante Vitor descreve-lo">
                        </div>
                        <div class="back imagem">
                            <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/O4a60xH.jpg"
                                alt="Vitor é um homem loiro de olhos claros, usa barba e tem cabelo volumoso e ondulado">
                        </div>
                    </div>
                    <!--/Imagem 3d dos integrantes-->

                    <!--Icones Social Network-->
                    <div>
                        <div class="container">
                            <ul class="ul-social-network pb-3">
                                <li>
                                    <a href="https://www.linkedin.com/in/vcolvr/" target="_blank" class="icoLinkedin">
                                        <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social"
                                            alt="icone linkedin">
                                    </a>

                                    <a href="https://github.com/Vcolvr" target="_blank" class="icoGitHub">
                                        <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/Icones Social Network-->

                    <!--Textos dos Integrntes-->
                  

                    <p class="card-text infoTexto">
                        Nascido e criado em São Paulo, Vitor sempre foi amante de tecnologia graças ao irmão mais velho,
                        que o inspirou por meio de jogos a adorar computadores e videogames. Durante sua adolescência,
                        ele fez um curso técnico em administração pela ETEC Camargo Aranha e logo depois entrou na USP
                        para fazer o Curso Superior do Audiovisual. Nele, fez parte de diversos projetos de vídeos,
                        curtas-metragens, séries, documentários e até jogos, participando principalmente como editor e
                        produtor. Em 2021 resolveu retornar às suas origens estudando programação pelo curso da
                        Generation, correlacionando toda sua bagagem para se tornar um programador alinhado com
                        conceitos estéticos e empresariais.
                    </p>
                    <b class="curiosidade">Curiosidades:</b>
                    <p class="card-text  infoTexto1">Além de ser apaixonado por jogos, digitais ou não, e mestrar RPG de
                        mesa por anos, ele se interessa demais por reality shows e tem um cronograma com amigos anual
                        para assistir o máximo possível.</p>
                </div>
            </div>
        </div>
        <!--/Textos dos Integrntes-->

        <!--card2-->
        <div class="col-sm-6 ">
            <div class="card borda">
                <!--Nome do Inerante-->
                <h5 class="nomeIntegrante pt-5">Caroline Miranda</h5>
                <!--/Nome do Inerante-->

                <!--Imagem 3d dos integrantes-->
                <div class="flip-container">
                    <div class="flipper imgpos">
                        <div class="front imagem">
                            <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/RbNXZDA.jpg"
                                alt="Imagem do integrante Caroline">
                        </div>
                        <div class="back imagem">
                            <img class=" container card-img-tp br-50 p-30  " src="https://i.imgur.com/8gSAaDe.jpg"
                                alt="Caroline é uma mulher de cabelos longos e pretos, olhos escuros e muito sorridente">
                        </div>
                    </div>
                    <!--/Imagem 3d dos integrantes-->

                    <!--Icones Social Network-->
                    <div>
                        <div class="container">
                            <ul class="ul-social-network pb-5">
                                <li>
                                    <a href="https://www.linkedin.com/in/caroline-miranda-374738148/" target="_blank"
                                        class="icoLinkedin">
                                        <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social"
                                            alt="icone linkedin">
                                    </a>

                                    <a href="https://github.com/carol-mira" target="_blank" class="icoGitHub">
                                        <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/Icones Social Network-->

                    <!--Textos dos Integrantes-->
                   

                    <p class="card-text infoTexto">

                        Sou as minhas atitudes, os meus sentimentos, minhas ideias e meus conhecimentos.
                        Como mulher, mãe, aluna e em transição de carreira , busco ingressar na área de tecnologia para
                        incentivar outras mulheres a sempre alcançarem seus objetivos, e que nunca devemos estar presas
                        somente ao nível de educação ou seu diploma universitário. Sempre estou aprendendo sobre novos
                        conhecimentos e ferramentas para assim melhorar meu trabalho e minha produtividade.
                        Tenho orgulho de quem eu sou. Um reflexo de todas as experiências que já passei, sendo sempre o
                        que escolho me tornar.
                    </p>

                    <b class="curiosidade">Curiosidades:</b>
                    <p class="card-text infoTexto1">Aprendi a ler Kanji e falar um pouco de japonês, amo dançar, ler,
                        desenhar e fazer amizade.</p>
                </div>
            </div>
        </div>
        <!--/Textos dos Integrantes-->
        <!--/card2-->

        <div class="col-sm-6">
            <div class="card borda">


                <!--Nome do Integrante-->
                <h5 class="nomeIntegrante pt-5">Gustavo Martins</h5>
                <!--/Nome do Integrante-->

                <!--Imagem 3d dos integrantes-->
                <div class="flip-container img-fluid">
                    <div class="flipper imgpos">
                        <div class="front imagem">
                            <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/I0kJ7Cg.jpg"
                                alt="Imagem do integrante Vitor descreve-lo">
                        </div>
                        <div class="back imagem">
                            <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/zljKQFX.jpg"
                                alt=" Homem ruivo e tem olhos castanhos, usa barba, cabelos tamanho médio">
                        </div>
                    </div>
                    <!--/Imagem 3d dos integrantes-->

                    <!--Icones Social Network-->
                    <footer>
                        <div class="container">
                            <ul class="ul-social-network pb-3">
                                <li>
                                    <a href="https://www.linkedin.com/in/gustavo-martins-3a9980136/" target="_blank" class="icoLinkedin">
                                        <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social"
                                            alt="icone linkedin">
                                    </a>

                                    <a href="https://github.com/GustavoMarttiins" target="_blank" class="icoGitHub">
                                        <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
                    <!--/Icones Social Network-->

                    <!--Textos dos Integrntes-->
                    

                    <p class="card-text infoTexto">
                        Um sonhador...
                        Sou apaixonado pelo mundo dos gamers, sendo a melhor maneira que tenho para relaxar e me
                        divertir com amigos, ao descobrir sobre Programação através dos jogos, os sonhos começaram a se
                        formar dentro da minha cabeça, porém comecei cursando Direito por motivos familiares, mesmo não
                        sendo meu sonho, acabei gostando do curso, mas logo precisei trancar, entretanto outro sonho
                        acabará de nascer, uma área onde Direito e Programação andam de mãos dadas.

                    </p>
                    <b class="curiosidade">Curiosidades:</b>
                    <p class="card-text  infoTexto1">Gosto de tocar bateria, jogar xadrez, assistir filmes e séries, ouvir uma boa música de rock com
                        os amigos.
</p>
                </div>
            </div>
        </div>
        <!--/Textos dos Integrntes-->

        <!--card2-->
        <div class="col-sm-6 ">
            <div class="card borda">
                <!--Nome do Inerante-->
                <h5 class="nomeIntegrante pt-5">Ana Lívia</h5>
                <!--/Nome do Inerante-->

                <!--Imagem 3d dos integrantes-->
                <div class="flip-container">
                    <div class="flipper imgpos">
                        <div class="front imagem">
                            <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/5tJliJ2.jpg"
                                alt="Imagem do integrante Caroline">
                        </div>
                        <div class="back imagem">
                            <img class=" container card-img-tp br-50 p-30  " src="https://i.imgur.com/bm0JCBO.jpg"
                                alt="Ana Lívia é uma mulher de cabelos longos e castanhos, olhos castanhos claros e sempre muito sorridente">
                        </div>
                    </div>
                    <!--/Imagem 3d dos integrantes-->

                    <!--Icones Social Network-->
                    <div>
                        <div class="container">
                            <ul class="ul-social-network pb-5">
                                <li>
                                    <a href="https://www.linkedin.com/in/ana-livia-tres-7a91aa1a3/" target="_blank"
                                        class="icoLinkedin">
                                        <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social"
                                            alt="icone linkedin">
                                    </a>

                                    <a href="https://github.com/analivia1709 " target="_blank" class="icoGitHub">
                                        <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!--/Icones Social Network-->

                    <!--Textos dos Integrantes-->
                  

                    <p class="card-text infoTexto">

                        Oiii, eu sou Ana eu sou apaixonada por praticidade,coisas atenticas, e eu amo aprender coisas
                        novas, busco sempre estar evoluindo e melhorando as minhas versões,
                        mentalidade de crescimento e comunição são meus pontos fortes, eu amo conversar sobre tudooo,
                        livros, series, filmes,
                        cultura, educação, viagens, comidas, procuro sempre estar crescendo, não gosto de ficar parada,
                        amo ser produtiva e proativa, estou sempre dispostas a encarrar novos desafios e aventuras, isso
                        faz com que fiquei encantada por tudo o que eu faço, e me motiva
                        de formas imensuráveis.

                    </p>

                    <b class="curiosidade">Curiosidades:</b>
                    <p class="card-text infoTexto1">Eu amo ler (meu livro favotito é "Quarto do despejo"),faço o melhor brownie do
                        mundo, eu amo conversar
                        (minhas redes sociais estão abertas para dialogo,de tecnologias em TI ate receitinhas de
                        cozinha,sinta-se avontade para me chamar),adoro ir para museos, teatro , sou
                        apaixonada por arte e cultura
</p>
                </div>
            </div>
        </div>
        <!--/Textos dos Integrantes-->
        <!--/card2-->
        <div class="col-sm-6">
            <div class="card borda">


                <!--Nome do Integrante-->
                <h5 class="nomeIntegrante pt-5">Kyem Araújo</h5>
                <!--/Nome do Integrante-->

                <!--Imagem 3d dos integrantes-->
                <div class="flip-container img-fluid">
                    <div class="flipper imgpos">
                        <div class="front imagem">
                            <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/Jtk1wHt.jpg"
                                alt="Imagem do integrante Vitor descreve-lo">
                        </div>
                        <div class="back imagem">
                            <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/QHoxgT8.jpg"
                                alt="Imagem do integrante Vitor descreve-lo">
                        </div>
                    </div>
                    <!--/Imagem 3d dos integrantes-->

                    <!--Icones Social Network-->
                    <footer>
                        <div class="container">
                            <ul class="ul-social-network pb-3">
                                <li>
                                    <a href="https://www.linkedin.com/in/kyem2/ " target="_blank" class="icoLinkedin">
                                        <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social"
                                            alt="icone linkedin">
                                    </a>

                                    <a href="https://github.com/Kyem-Araujo" target="_blank" class="icoGitHub">
                                        <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
                    <!--/Icones Social Network-->

                    <!--Textos dos Integrntes-->
                   

                    <p class="card-text infoTexto">
                        Nascido e criado em terras pantaneiras, venho de um local precário em que não havia eletricidade, internet, celulares e computadores. 
Mas, foi justamente ter as possibilidades podadas que me deu asas para ser
 um apaixonado em colaborar na resolução de problemas que afeta o planeta e a humanidade. 
Por isso, a ciência e a programação estão na minha vida, pois através
delas estou sempre construindo um conhecimento sólido e potente que será a ponte entre meus
valores e minhas realizações. Meu sonho é construir um legado para que pessoas iguais a mim consigam alçar novos vôos. 
 

                    </p>
                    <b class="curiosidade">Curiosidades:</b>
                    <p class="card-text  infoTexto1">Adoro viajar, assistir animes e praticar corrida
                        nos parques todas as manhãs. Recentemente comecei a me preparar para enfretar um novo desafio que é 
fazer um viagem pedalando durante todo o trajeto.
                        Além disso, também aproveito meu tempo livre para contribuir em um projeto de independência
                        financeira e aproveitamento energético para comunidades indígenas e rurais.
                        Se quiser saber mais sobre mim, não deixe de checar meu LinkedIn e GitHub. Combinado?</p>
                </div>
            </div>
        </div>
        <!--/Textos dos Integrntes-->

        <!--card2-->
        <div class="col-sm-6 ">
            <div class="card borda">
                <!--Nome do Inerante-->
                <h5 class="nomeIntegrante pt-5">Rilton Maciel</h5>
                <!--/Nome do Inerante-->

                <!--Imagem 3d dos integrantes-->
                <div class="flip-container">
                    <div class="flipper imgpos">
                        <div class="front imagem">
                            <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/f1E3WVk.jpg"
                                alt="Imagem do integrante Caroline">
                        </div>
                        <div class="back imagem">
                            <img class=" container card-img-tp br-50 p-30  " src="https://i.imgur.com/y1xHcSj.jpg"
                                alt="Imagem do integrante Caroline">
                        </div>
                    </div>
                    <!--/Imagem 3d dos integrantes-->

                    <!--Icones Social Network-->
                    <footer>
                        <div class="container">
                            <ul class="ul-social-network pb-5">
                                <li>
                                    <a href="https://www.linkedin.com/in/rilton-maciel-611a83168/" target="_blank"
                                        class="icoLinkedin">
                                        <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social"
                                            alt="icone linkedin">
                                    </a>

                                    <a href="https://github.com/Majoralphax" target="_blank" class="icoGitHub">
                                        <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
                    <!--/Icones Social Network-->

                    <!--Textos dos Integrantes-->
                   

                    <p class="card-text infoTexto">

                        Olá, Sou Rilton tenho 25 anos, sou uma junção de nerd,
                        Programador e Administrador. no meu tempo livre gosto
                        de programar, jogar e me dedicar em projetos pessoais.
                        Gosto de ser desafiado e me superar a cada tarefa.
                        Procuro me manter sempre aprendendo e renovando
                        meus conhecimento e com conhecimento adquirido
                        consigo enxergar novas maneiras de resolver as tarefas, até mesmo as tarefas que já executei,
                        quando isso acontece, fico realizado.

                    </p>

                    <b class="curiosidade">Curiosidades:</b>
                    <p class="card-text infoTexto1"> Jogo Lol nas horas vagas e gosto de cantar para espantar os males! Também gosto de estudar sobre minhas curiosidades e me manter sempre atualizado sobre tecnologias. </p>
                </div>
            </div>
        </div>
        <!--/Textos dos Integrantes-->
        <!--/card2-->
    </div>
</div>

<!--/Textos dos Integrantes-->
<!--/card6-->