@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ul-social-network{
    list-style: none;
    display:flex;
    justify-content: center;
    
} 
 
    .tm-social{
        position:relative;
        left: 70px;
        right: 30px;
        width: 60px;
        height: 60px;
        padding: 10px;
                
    }
    
.br-50{
    border-radius:50%;
}
 
.p-30{
    padding: 10px;
}
 
.flipper{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.flip-container:hover .flipper{
    transform: rotateY(180deg);
 
}
.flipper{
    width: 30%;
    height: 30%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
       
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
}
.back{
    transform: rotateY(180deg);
}
.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}
 
 
.imgpos{
    position: absolute;
    margin-left: 30px;
    top: 10px;
  }
 
 
.borda {
    margin:10px;
    left: 10px;
    background: #FFFFFF;
    height: 550px;
    border-radius: 0px;
    
}   
  
 
    .nomeIntegrante {
       
        text-align:justify;
        display: flex;
        justify-content: center;
        margin-left: 150px;
        margin-right: 10px;
        margin-top: 30px;
        font-size: 2vw;
        color: #84A59D;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;      
      }
 
      /*texto de cada Integrante */
      .infoTexto{
          color:  #84A59D;
          font-size: 1vmax;
          margin-left: 50px;
          margin-right: 50px;
          margin-top: 40px;
          font-family: 'Roboto', sans-serif;
          text-align: justify;
          
      }
 
      .infoTexto1{
        color:  #84A59D;
        margin-left: 50px;
        margin-right: 50px;
        font-size: 1vmax;
        font-family: Roboto;
        font-family: 'Roboto', sans-serif;
        text-align: justify;

      }
 
      .curiosidade{
        color: #84A59D;
        margin-left: 50px;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
      }