<!--cards nosso time-->
<div class="container-fluid" style="background-color:#F7EDE2;">
    <div class="row">
        <div class="col-sm-6">
            <div class="card borda">


                <!--Nome do Integrante-->
                <h5 class="nomeIntegrante pt-5">Vitor Carvalho</h5>
                <!--/Nome do Integrante-->

                <!--Imagem 3d dos integrantes-->
                <div class="flip-container img-fluid">
                    <div class="flipper imgpos">
                        <div class="front imagem">
                            <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/wtK8H1S.jpg"
                                alt="Imagem do integrante Vitor descreve-lo">
                        </div>
                        <div class="back imagem">
                            <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/O4a60xH.jpg"
                                alt="Imagem do integrante Vitor descreve-lo">
                        </div>
                    </div>
                    <!--/Imagem 3d dos integrantes-->

                    <!--Icones Social Network-->
                    <footer>
                        <div class="container">
                            <ul class="ul-social-network pb-3">
                                <li>
                                    <a href="https://www.linkedin.com/in/vcolvr/" target="_blank" class="icoLinkedin">
                                        <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social"
                                            alt="icone linkedin">
                                    </a>

                                    <a href="https://github.com/Vcolvr" target="_blank" class="icoGitHub">
                                        <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
                    <!--/Icones Social Network-->

                    <!--Textos dos Integrntes-->
                    <hr>
                    <p class="card-text borda infoTexto pt-5">Lorem ipsum dolor sit amet, consectetur adipisicing elit.
                        Distinctio corrupti culpa dolor, totam laborum blanditiis et. Magni, cupiditate sapiente
                        ratione, a corrupti alias, blanditiis esse impedit quia praesentium in repudiandae?
                        Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed voluptate similique qui ad neque
                        dignissimos cum. Doloribus libero odio praesentium, non laborum numquam perferendis similique
                        quos dicta iusto maxime vel?
                        Lorem ipsum dolor sit amet consectetur, adipisicing elit. Nihil facilis eius nam dolores
                        explicabo exercitationem alias quisquam! Nemo delectus magnam natus a quas rem ipsa consequatur
                        culpa, porro fuga doloribus.
                    </p>
                    <b class="borda curiosidade">Curiosidades:</b>
                    <p class="card-text borda infoTexto1">Lorem ipsum dolor sit amet consectetur, adipisicing elit.
                        Repudiandae debitis harum, totam, asperiores eligendi illum deleniti laboriosam voluptate
                        officiis earum eveniet illo odio? Ab repudiandae sunt molestias atque unde impedit?</p>
                </div>
            </div>
        </div>
        <!--/Textos dos Integrntes-->
        <!--/card1-->

        <!--card2-->
        <div class="col-sm-6 ">
            <div class="card borda">
                <!--Nome do Inerante-->
                <h5 class="nomeIntegrante pt-5">Caroline Miranda</h5>
                <!--/Nome do Inerante-->

                <!--Imagem 3d dos integrantes-->
                <div class="flip-container">
                    <div class="flipper imgpos">
                        <div class="front imagem">
                            <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/RbNXZDA.jpg"
                                alt="Imagem do integrante Caroline">
                        </div>
                        <div class="back imagem">
                            <img class=" container card-img-tp br-50 p-30  " src="https://i.imgur.com/8gSAaDe.jpg"
                                alt="Imagem do integrante Caroline">
                        </div>
                    </div>
                    <!--/Imagem 3d dos integrantes-->

                    <!--Icones Social Network-->
                    <footer>
                        <div class="container">
                            <ul class="ul-social-network pb-5">
                                <li>
                                    <a href="https://www.linkedin.com/in/caroline-miranda-374738148/" target="_blank"
                                        class="icoLinkedin">
                                        <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social"
                                            alt="icone linkedin">
                                    </a>

                                    <a href="https://github.com/carol-mira" target="_blank" class="icoGitHub">
                                        <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
                    <!--/Icones Social Network-->

                    <!--Textos dos Integrantes-->
                    <hr>
                    <p class="card-text borda infoTexto ">
                        Sou as minhas atitudes, os meus sentimentos, minhas ideias e meus conhecimentos.
                        Como mulher, mãe, aluna e em transição de carreira , busco ingressar na área de tecnologia para
                        incentivar outras mulheres a sempre alcançarem seus objetivos, e que nunca devemos estar presas
                        somente ao nível de educação ou seu diploma universitário. Sempre estou aprendendo sobre novos
                        conhecimentos e ferramentas para assim melhorar meu trabalho e minha produtividade.
                        Tenho orgulho de quem eu sou. Um reflexo de todas as experiências que já passei, sendo sempre o
                        que escolho me tornar.
                    </p>
                    <b class="borda curiosidade">Curiosidades:</b>
                    <p class="card-text borda infoTexto1">Aprendi a ler Kanji e falar um pouco de japonês, amo dançar,
                        ler, desenhar e fazer amizade.</p>
                </div>
            </div>
        </div>
        <!--/Textos dos Integrantes-->
        <!--/card2-->

        <!--card3-->
        <div class="col-sm-6">
            <div class="card borda">
                <!--Nome do Inerante-->
                <h5 class="nomeIntegrante pt-5">Gustavo Martins</h5>
                <!--/Nome do Inerante-->

                <!--Imagem 3d dos integrantes-->
                <div class="flip-container">
                    <div class="flipper imgpos">
                        <div class="front imagem">
                            <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/I0kJ7Cg.jpg"
                                alt="Imagem do integrante Gustavo">
                        </div>
                        <div class="back imagem">
                            <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/zljKQFX.jpg"
                                alt="Imagem do integrante Gustavo">
                        </div>
                    </div>
                    <!--/Imagem 3d dos integrantes-->

                    <!--Icones Social Network-->
                    <footer>
                        <div class="container">
                            <ul class="ul-social-network pb-5">
                                <li>
                                    <a href="https://www.linkedin.com/in/gustavo-martins-3a9980136/" target="_blank"
                                        class="icoLinkedin">
                                        <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social"
                                            alt="icone linkedin">
                                    </a>

                                    <a href="https://github.com/GustavoMarttiins" target="_blank" class="icoGitHub">
                                        <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
                    <!--/Icones Social Network-->

                    <!--Textos dos Integrantes-->
                    <hr>
                    <p class="card-text borda infoTexto pt-5">
                        Um sonhador...
                        Sou apaixonado pelo mundo dos gamers, sendo a melhor maneira que tenho para relaxar e me
                        divertir com amigos, ao descobrir sobre Programação através dos jogos, os sonhos começaram a se
                        formar dentro da minha cabeça, porém comecei cursando Direito por motivos familiares, mesmo não
                        sendo meu sonho, acabei gostando do curso, mas logo precisei trancar, entretanto outro sonho
                        acabará de nascer, uma área onde Direito e Programação andam de mãos dadas.
                    </p>
                    <b class="borda curiosidade">Curiosidades:</b>
                    <p class="card-text borda infoTexto1">
                        Gosto de tocar bateria, jogar xadrez, assistir filmes e séries, ouvir uma boa música de rock com
                        os amigos.
                    </p>
                </div>
            </div>
        </div>
        <!--/Textos dos Integrantes-->

        <!--/card3-->

        <!--card4-->
        <div class="col-sm-6 ">
            <div class="card borda">
                <!--Nome do Inerante-->
                <h5 class="nomeIntegrante pt-5">Ana Livia</h5>
                <!--/Nome do Inerante-->

                <!--Imagem 3d dos integrantes-->
                <div class="flip-container">
                    <div class="flipper imgpos">
                        <div class="front imagem">
                            <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/5tJliJ2.jpg"
                                alt="Imagem da integrante Ana Livia">
                        </div>
                        <div class="back imagem">
                            <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/bm0JCBO.jpg"
                                alt="Imagem da integrante Ana Livia">
                        </div>
                    </div>
                    <!--/Imagem 3d dos integrantes-->

                    <!--Icones Social Network-->
                    <footer>
                        <div class="container">
                            <ul class="ul-social-network pb-5">
                                <li>
                                    <a href="https://www.linkedin.com/in/ana-livia-tres-7a91aa1a3/" target="_blank"
                                        class="icoLinkedin">
                                        <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social"
                                            alt="icone linkedin">
                                    </a>

                                    <a href="https://github.com/analivia1709 " target="_blank" class="icoGitHub">
                                        <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
                    <!--/Icones Social Network-->

                    <!--Textos dos Integrantes-->
                    <hr>
                    <p class="card-text borda infoTexto pt-5">
                        Oiii, eu sou Ana eu sou apaixonada por praticidade,coisas atenticas, e eu amo aprender coisas
                        novas, busco sempre estar evoluindo e melhorando as minhas versões,
                        mentalidade de crescimento e comunição são meus pontos fortes, eu amo conversar sobre tudooo,
                        livros, series, filmes,
                        cultura, educação, viagens, comidas, procuro sempre estar crescendo, não gosto de ficar parada,
                        amo ser produtiva e proativa, estou sempre dispostas a encarrar novos desafios e aventuras, isso
                        faz com que fiquei encantada por tudo o que eu faço, e me motiva
                        de formas inmensuraveis.
                    </p>
                    <b class="borda curiosidade" href="#">Curiosidades:</b>
                    <p class="card-text borda infoTexto1">
                        curiosidade: eu amo ler (meu livro favotito é "Quarto do despejo"),faço o melhor brownie do
                        mundo, eu amo conversar
                        (minhas redes sociais estão abertas para dialogo,de tecnologias em TI ate receitinhas de
                        cozinha,sinta-se avontade para me chamar),adoro ir para museos, teatro , sou
                        apaixonada por arte e cultura.</p>
                </div>
            </div>
        </div>
        <!--/Textos dos Integrantes-->

        <!--/card4-->

        <!--/card5-->
        <div class="col-sm-6">
            <div class="card borda">
                <!--Nome do Inerante-->
                <h5 class="nomeIntegrante pt-5">Kyem Araújo</h5>
                <!--/Nome do Inerante-->

                <!--Imagem 3d dos integrantes-->
                <div class="flip-container">
                    <div class="flipper imgpos">
                        <div class="front imagem">
                            <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/Jtk1wHt.jpg"
                                alt="Imagem do integrante Kyem">
                        </div>
                        <div class="back imagem">
                            <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/QHoxgT8.jpg"
                                alt="Imagem do integrante Kyem">
                        </div>
                    </div>
                    <!--/Imagem 3d dos integrantes-->

                    <!--Icones Social Network-->
                    <footer>
                        <div class="container">
                            <ul class="ul-social-network pb-5">
                                <li>
                                    <a href="https://www.linkedin.com/in/kyem2/" target="_blank" class="icoLinkedin">
                                        <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social"
                                            alt="icone linkedin">
                                    </a>

                                    <a href="https://github.com/Kyem-Araujo" target="_blank" class="icoGitHub">
                                        <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
                    <!--/Icones Social Network-->

                    <!--Textos dos Integrantes-->
                    <hr>
                    <p class="card-text borda infoTexto pt-5">Sou apaixonado em colaborar na resolução de problemas que afeta
                        o planeta e a humanidade. Por isso, a ciência e a programação estão na minha vida, pois através
                        delas estou sempre construindo um conhecimento sólido e potente que será a ponte entre meus
                        valores e minhas realizações.

                    </p>
                    <b class="borda curiosidade">Curiosidades:</b>
                    <p class="card-text borda infoTexto1">Gosta de muito de viajar, assistir animes e praticar corrida
                        nos parques todas as manhãs. Em breve pretendo fazer um viagem pedalando durante todo o trajeto.
                        Além disso, também aproveito meu tempo livre para contribuir em um projeto de independência
                        financeira e aproveitamento energético para comunidades indígenas e rurais.
                        Se quiser me a mim e ao meu trabalho, não deixe de checar meu LinkedIn e GitHub. Combinado?</p>
                </div>
            </div>
        </div>
        <!--/Textos dos Integrantes-->
        <!--/card5-->

        <!--card6-->
        <div class="col-sm-6">
            <div class="card borda">
                <!--Nome do Inerante-->
                <h5 class="nomeIntegrante pt-5">Rilton Maciel</h5>
                <!--/Nome do Inerante-->

                <!--Imagem 3d dos integrantes-->
                <div class="flip-container">
                    <div class="flipper imgpos">
                        <div class="front imagem">
                            <img class="container card-img-top br-50 p-30 " src="https://i.imgur.com/f1E3WVk.jpg"
                                alt="Imagem do integrante Rylton">
                        </div>
                        <div class="back imagem">
                            <img class=" container card-img-top br-50 p-30  " src="https://i.imgur.com/y1xHcSj.jpg"
                                alt="Imagem do integrante Rylton">
                        </div>
                    </div>
                    <!--/Imagem 3d dos integrantes-->

                    <!--Icones Social Network-->
                    <footer>
                        <div class="container">
                            <ul class="ul-social-network pb-5">
                                <li>
                                    <a href="https://www.linkedin.com/in/rilton-maciel-611a83168/" target="_blank"
                                        class="icoLinkedin">
                                        <img src="https://i.imgur.com/Zh2hD11.png" class="tm-social"
                                            alt="icone linkedin">
                                    </a>

                                    <a href="https://github.com/Majoralphax" target="_blank" class="icoGitHub">
                                        <img src="https://i.imgur.com/b9UTNHd.png" class="tm-social" alt="icone github">
                                    </a>
                                </li>
                            </ul>
                        </div>
                    </footer>
                    <!--/Icones Social Network-->

                    <!--Textos dos Integrantes-->
                    <hr>
                    <p class="card-text borda infoTexto pt-5">
                        Olá, Sou Rilton tenho 25 anos, sou uma junção de nerd,
                        Programador e Administrador. no meu tempo livre gosto
                        de programar, jogar e me dedicar em projetos pessoais.
                        Gosto de ser desafiado e me superar a cada tarefa.
                        Procuro me manter sempre aprendendo e renovando
                        meus conhecimento e com conhecimento adquirido
                        consigo enxergar novas maneiras de resolver as tarefas, até mesmo as tarefas que já executei,
                        quando isso acontece, fico realizado.
                    </p>
                    <b class="borda curiosidade" href="#">Curiosidades:</b>
                    <p class="card-text borda infoTexto1">
                        Jogo Lol nas horas vagas e sou um ótimo cantor! Adoro vender imóveis.
                    </p>
                </div>
            </div>
        </div>
        <!--/Textos dos Integrantes-->
        <!--/card6-->
    </div>