@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');


.ul-social-network{
    list-style: none;
    display:flex;
    justify-content: center;
    
} 

    .tm-social{
        position:relative;
        left: 50px;
        right: 30px;
        width: 70px;
        height: 70px;
        padding: 10px;
        margin-top: 20px;
        
    }
    
    hr{
    padding-top: 30px;
    }

.br-50{
    border-radius:50%;
}

.p-30{
    padding: 10px;
}

.flipper{
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
}
.flip-container:hover .flipper{
    transform: rotateY(180deg);

}
.flipper{
    width: 40%;
    height: 40%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
    position: relative;
       
}
.front, .back{
    position: absolute;
    width: 100%;
    height: 100%;
}
.back{
    transform: rotateY(180deg);
}
.front, .back{
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


.imgpos{
    position: absolute;
    bottom: 45px;
    top: 0;
  }


.borda {
    margin:10px;
    margin-bottom: 40px;
    left: 10px;
    background: #FFFFFF;
    box-decoration-break: clone; 
    min-height: 220px;
}   
  

    .nomeIntegrante {
        position:-webkit-sticky;
        text-align:center;
        display: flex;
        justify-content: center;
        margin-left: 170px;
        font-size: 40px;
        color: #84A59D;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;      
      }

      /*texto de cada Integrante */
      .infoTexto{
          color:  #84A59D;
          font-style: normal;
          font-weight: normal;
          margin-top: 90px;
          font-family: 'Roboto', sans-serif;
          
      }

      .infoTexto1{
        color:  #84A59D;
        font-family: Roboto;
        font-style: normal;
        font-weight: normal;
        font-family: 'Roboto', sans-serif;
      }

      .curiosidade{
        color: #84A59D;
        font-weight: bold;
        font-family: 'Roboto', sans-serif;
      }