<div class="container-fluid" style="background-color: #F7EDE2;">
  <div class="card-group p-5  ">
    <div class="card ">
      <!--Título-->
      <h1 class="card-title text-center pt-5 pb-5 cor">Entre em Contato</h1>
      <div class="row pt-5 mb-5 ml-5 mr-5">
        <div class="col-sm-4 d-flex justify-content-center">
          <a href="https://web.telegram.org/" target="_blank" class="" alt='Caminho gmail'>
            <img class="fa" src="https://i.imgur.com/a3MtfRa.png" width="59px" height="59px">
          </a>

        </div>
        <div class="col-sm-4 d-flex justify-content-center">
          <a href="https://web.whatsapp.com/" target="_blank" class="" alt='Caminho gmail'>
            <img class="fa" src="https://i.imgur.com/fIRluvU.png" width="58px" height="58px">
          </a>

        </div>
        <div class="col-sm-4 d-flex justify-content-center">
          <a href="https://www.gmail.com/" target="_blank" class="" alt='Caminho gmail'>
            <img class="fa" src="https://i.imgur.com/JrO4uoS.png" width="58px" height="58px">
          </a>


        </div>
      </div>
      
      <div class="row pt-5 m-5">
        <div class="col-sm-4 d-flex justify-content-center">
          <a href="https://www.facebook.com/" target="_blank" class="icoFacebook" alt='Caminho para facebook'>
            <img class="fa" src="https://i.imgur.com/t3zXvGm.png" width="58px" height="58px">
          </a>

        </div>
        <div class="col-sm-4 d-flex justify-content-center">
          <a href="https://www.instagram.com/" target="_blank" class="icoInstagram" alt='Caminho para instagram'>
            <img class="fa" src="https://i.imgur.com/NWQCLXM.png" width="58px" height="58px">
          </a>

        </div>
        <div class="col-sm-4 d-flex justify-content-center">
          <a href="https://www.twitter.com/" target="_blank" class="icoTwitter" alt='Caminho para twitter'>
            <img class="fa" src="https://i.imgur.com/RJIYr9E.png" width="58px" height="58px">
          </a>

        </div>
      </div>

      

      

      

      

      

      

      
      
    </div>
    <div class="card">
      <img class="card-img-top" src="https://i.imgur.com/G79TxmU.jpg" alt="Imagem de capa do card">

    </div>

  </div>
</div>