<div class="container-fluid" style="background-color: #F7EDE2;">
  <div class="card-group p-5  ">
    <div class="card ">
      <!--Título-->
      <h1 class="card-title text-center pt-3">Entre em Contato</h1>
      <div>
        <img class="ico-contato centro  " src="https://i.imgur.com/t3zXvGm.png" alt="Icone Facebook">

      </div>
      <!--/Título-->
      <!--telefone-->
      <div>
        <img class="ico-contato centro" src="https://i.imgur.com/RVVuzZa.png" alt="Icone Telefone">

      </div>
      <!--/telefone-->

      <!--e-mail-->
      <div>
        <img class="ico-contato centro" src="https://i.imgur.com/JrO4uoS.png" alt="Icone E-mail">

      </div>
      <!--/e-mail-->
    </div>
    <div class="card">
      <img class="card-img-top" src="https://i.imgur.com/G79TxmU.jpg" alt="Imagem de capa do card">

    </div>

  </div>
</div>