
.card{
 
  padding-top: 30px ;
  padding-right:50px ;
  padding-left: 15px;
  padding-bottom: 15px;
  border-radius: 0%;  
  width: 894px;
  display:flex;
  justify-content: center;
  
  
 }
 button{
   background-color: #F28482;
   border-color: transparent;
   color: #FFFFFF;
   height: 46px;
   width: 110px;
   top: 886px;
   border-radius: 5px;
   font-weight:bold;
   font-weight:bold;
 }
 
 .btncomprar{
   background-color: #F6BD60;
   font-weight:bold;
   border-color: transparent;
   
 }