button{
    background-color: #F28482;
    border-color: transparent;
    color: #FFFFFF;
    height: 42px;
    width: 230px;
    left: 752px;
    top: 886px;
    border-radius: 5px;
    font-weight:bold;
}